:root {
	--maincolor:#4bb84d;
}
* {
	font-family: 'Poppins', sans-serif;
  color: #fff;
  box-sizing: border-box;
}
body, html {
	background: #0a0a0a !important;
  color: #fff;
  margin: 0 !important;
  padding: 0 !important;
}
img {max-width: 100%;}
.backbtn i {
  font-size: 20px;
}
.backbtn {
  padding: 0;
  position: relative;
}
.profileUser {
  width: 75px;
  height: 75px;
  border: 2px solid var(--maincolor);
}
.profileDetails p {
  background: #252525;
  color: #fff;
  border: 2px solid var(--maincolor);
  border-radius: 6px;
  margin-left: -25px !important;
}
.profileDetails p span {
  display: block;
  background: #fff;
  color: #0a0a0a;
  border-radius: 0 0 4px 0;
}
.profileDetails p label, .profileDetails p span {
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 2px;
padding-bottom: 2px;
}
.userslash-btn {
  border: 2px solid var(--maincolor) !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: var(--maincolor) !important;
  padding: 0;
}
.userslash-btn i {color: var(--maincolor);}
.userslash-btn i {
  font-size: 26px;
}
.privateBtn {
  background: #fff;
  color: #000;
  font-weight: 400;
  position: absolute;
  left: -16px;
  bottom: -14px;
  padding: 1px 15px;
  border: 2px solid var(--maincolor);
  border-radius: 25px;
  font-size: 12px;
}
.header {
  padding: 8px 25px;
}
.texasholdem-tabs {
	border-top: 2px solid var(--maincolor);
}
.texasholdemTable thead {
  background: linear-gradient(to bottom, #202020, #141414);
}
.texasholdem-tabs .nav-tabs li button {
  border-bottom: 2px solid transparent !important;
}
.texasholdem-tabs .nav-tabs li button, .texasholdem-tabs .nav-tabs li button.active  {
	color: #f4ba01;
  background:transparent !important;
  border: 0;
}
.texasholdem-tabs .nav-tabs li button.active  {
  border-bottom: 2px solid var(--maincolor) !important; 
}
.texasholdem-tabs .nav-tabs li button {
  font-size: 18px;
  font-weight: 600;
  border: 0px !important;
  border-right: 1px solid #232423 !important;
  border-radius: 0;
}
.texasholdem-tabs .nav-tabs li:last-child button {
  border-right: 0 !important;
}
.texasholdem-tabs .nav-tabs {
  border: 0;
  padding: 0;
  background: linear-gradient(to bottom, #202020, #141414);
}
.texasholdemTable thead tr th {
  color: #f4ba01;
  font-weight: 400;
}
.texasholdemTable tbody tr td {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  position: relative;
  vertical-align: middle;
}
.texasholdemTable tbody tr td i {
  background: var(--maincolor);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  padding: 6px;
}
.playnow-btn {
  background: linear-gradient(to bottom, #f0bc00, #4c3d09);
  border: 0;
  font-size: 16px;
  border-radius: 25px;
  padding: 5px 10px;
  min-width: 100px;
  text-align: center;
  position: relative;
}
.playnow-btn i {
  position: absolute;
  right: 8px;
  background: #fff !important;
  color: #8d6c04 !important;
  top: 4px;
}
.texasholdemTable {
  border-color: var(--maincolor);
}
.texasholdemTable thead tr, .texasholdemTable thead tr th {
  border: 0;
}
.tableFilter i {
  color: var(--maincolor);
}
.texasholdem-tabs .nav-tabs li.tableFilter button {
  border-right: 1px solid #232423 !important;
  padding: 9px 10px;
}
.texasholdemTable tbody tr td, .texasholdemTable thead tr th {
  text-align: center;
}
.setting-btn {
  margin-left: 15px;
}
.portrait-tab-text {display: none;}
.tablenumber-des p span {
  padding-right: 30px;
}
.privateModal .modal-content {
  background: #010101;
  border: 1.9px solid #4ab74d;
}
.privateModal .modal-header h5 {
  color: var(--maincolor);
  font-size: 26px;
  font-weight: 600;
}
.privateModal .modal-header button.btn-close i {
  color: var(--maincolor);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  top: 11px;
}
.privateModal .modal-header button.btn-close i {
  color: var(--maincolor);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  top: 11px;
  font-size: 26px;
}
.privateModal .modal-header {
  border-bottom: 1.9px solid #4ab74d;
  padding: 5px 15px;
  padding-bottom: 18px;
  padding-left: 22px;
}
.privateModal .modal-header button.btn-close {
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  opacity: 1;
  right: -13px;
}
.joinplay-btn-hd {
  font-size: 22px;
}
.joinplay-btninput {
  border: 1.9px solid #4ab74d;
  background: #24252e;
  padding: 5px;
  border-radius: 2px;
  width: 150px;
}
.joinplay-btn.mb-0 {
  background: linear-gradient(#a91a27, #710e15);
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 5px;
}
.privateTableData thead th {
  background: #131313;
  border-right: 4px solid #010101;
  font-size: 16px;
  color: var(--maincolor);
}
.privateTableData tfoot tr td {
  color: #1c2023;
}
.privateTableData {
  border-bottom: 2px solid #4ab74d;
}
.privateModal .modal-body {
  min-height: 320px;
}
.privatetable-create {
  background: linear-gradient(#188d1a, #1f3c1f 49%);
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  padding: 5px 8px;
  margin-left: 8px;
}
.filterfixbtn button {
  border: 2px solid #1b1835;
  background: #000;
  padding: ;
  width: 45px;
  height: 40px;
  border-radius: 4px;
}
.pokertablemenu-des.filterfixdes {
  left: inherit;
  right: 10px;
  transform: scale(0);
  top: inherit !important;
  bottom: 60px;
  position: absolute !important;
  height: auto !important;
  border: 1.9px solid #4ab74d !important;
  padding-top: 0px !important;
}
.pokertablemenu-des.filterfixdes-open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.filterfixdes .pokernav-item {
  padding: 10px;
  font-size: 14px;
}
.filterfixdes .pokernav-item i {
  margin-right: 0;
}
.stakesradiodiv {
  list-style: none;
  background: #29292a;
  border: 1.9px solid #64201c;
  left: 0;
  width: 190px;
  padding: 6px;
  top: -20px;
  border-radius: 8px 8px 2px 2px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all .4s linear;
}
.autodroup input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.autodroup label {
  background: #222322;
  padding: 7px 35px 7px 12px;
  border: 1.9px solid #3a3a3a;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  color: #fff;
  display: block;
  position: relative;
}
.autodroup label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  display: block;
  background: #000;
  position: absolute;
  right: 6px;
  top: 10px;
  font-family: "Font Awesome 6 Free";
  border-radius: 50%;
}
.autodroup input:checked + label::before {
  background: #fd0000;
}
.stakesradiodiv li {
  display: block;
  margin-bottom: 5px;
}
.filterfixdes .pokernav-item:hover .stakesradiodiv {
  left: -83%;
  opacity: 1;
  z-index: 9;
  visibility: visible;
}
.profile-menu {
  border-radius: 2px;
  width: 60px;
  margin-right: ;
}
.pokerlobbymenu-des {
  width: 290px !important;
}
.pokerlobbymenu-des button {
  font-size: 16px !important;
  text-transform: capitalize !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.pokerlobbymenu-des .lobbyclose-btn {
  border: 0 !important;
  background: #f40403;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 0;
}
.pokertablemenu-des .logout-lobbybtn {
  background: linear-gradient(#a91a27, #710e15);
  margin: 0px auto;
  margin-bottom: 8px;
  width: auto;
  text-align: center;
  margin-top: 8px;
  border: 0 !important;
  border-radius: 6px !important;
  text-transform: uppercase !important;
  padding: 5px 15px;
}
.pokerlobbymenu-des button.landscape-block {
  display: flex !important;
}
.pokerlobbymenu-des {
  padding-top: 0 !important;
  border: 1.9px solid #4ab74d !important;
}
.bodyoverflow {
  overflow-x: hidden !important;
}
.handBtn {
  background: transparent;
  border: 1px solid #008a31;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 10px;
}
.handpopup {
  bottom: 65px;
  left: 5px;
}
.borderFull {
  border: 1.9px solid #008a31;
  border-radius: 5px;
}
.handhistorybtn {
  display: inline-block;
  margin: 0px auto;
  background: linear-gradient(#49aa4b, #356243);
  border: 0;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 6px;
  margin-top: 10px;
}
.hilotext {
  background: #2a2c99;
  padding: 4px 10px;
  border-radius: 6px;
}
.userlobby-modal {
  display: inline-block;
  margin: 0px auto;
  bbac: ;
  background: #235014;
  padding: 4px 8px;
  border-radius: 6px;
}
.joinModalbtn {
  width: 100%;
  display: block;
  border: 0;
  background: #fd0c0c;
  margin-top: 5px;
  font-weight: 600;
  border-radius: 25px;
  padding: 5px 15px;
}
.modallobby {
  width: auto;
  display: inline-block;
  text-align: center;
  background: #306720;
  padding: 10px 35px;
  border-radius: 75px;
  border: 2px solid #235014;
}
.settingpopup1-open {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translate(0) !important;
}
.settingpopup.settingpopup1 ul li {
  text-align: left;
}







@media (min-width: 768px) {
  .dnone-deskdata {
  display: none;
}
.header {
  padding-left: 15px;
}
.playnow-btn {
  padding-right: 38px;
}
.privateModal .modal-dialog {
  max-width: 680px;
}

}
@media (max-width:767px) {
  .filterfixdes .pokernav-item {
  padding: 10px;
  font-size: 12px;
}
.pokertablemenu-des.filterfixdes-open {
  width: 190px;
}
.stakesradiodiv {
  width: 130px;
}
.filterfixdes .pokernav-item:hover .stakesradiodiv {
  left: -70%;
}
.lobbytable-menu.backbtn i {
  font-size: 28px;
}
.btn.pokertable-topbtn.me-3.lobbytable-menu {
  margin-right: 5px !important;
}

.pokertablemenu-des.settingpopup1 {
  position: absolute !important;
  left: inherit !important;
  right: 5px !important;
  height: auto !important;
  background: #2a2d2b !important;
  border: 1.9px solid #4ab74d !important;
  border-radius: 8px 8px 2px 2px !important;
  top: 8px !important;
  padding-top: 0 !important;
}

}

@media (max-width: 767px) and (orientation: landscape) {
  .texasholdem-tabs .nav-tabs li button, .texasholdemTable thead tr th, .texasholdemTable tbody tr td {
  font-size: 12px;
}
.texasholdem-tabs .nav-tabs li.tableFilter button img {
  width: 18px;
}
.texasholdemTable tbody tr td .playnow-btn i {
  width: inherit;
  height: inherit;
  font-size: 12px;
  background: transparent !important;
  color: #fff !important;
  position: static;
  padding: 0;
}
.playnow-btn {
  min-width: inherit;
  font-size: 12px;
}
.tablenumber-des p span {
  padding-right: 10px;
}

}

@media (max-width: 991px) {
.flex-nowrap .w-auto {
  min-width: inherit !important;
}
}

@media (max-width: 767px) and (orientation: portrait) {
  .setting-btn, .portrait-tab-text {
    display: inherit;
  }
  .flex-nowrap .w-auto {
  min-width: inherit !important;
}
.logo img {
  width: 130px;
}
.profileDetails p, .backbtn i {
  font-size: 12px;
}
.profileDetails p label, .profileDetails p span {
  padding-top: 0;
  padding-bottom: 0;
}
.profileUser {
  width: 50px;
  height: 50px;
  border-color: #504581;
}
.backbtn {
  padding: 0 4px;
}
.header {
  padding: 8px;
}
.texasholdemTable tbody tr td::before {
  content: attr(data-label);
  position: absolute;
  left: 0px;
  bottom: 4px;
  color: var(--maincolor);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
.texasholdemTable thead {
  display: none;
}
.table-data-none {
  display: none;
}
.texasholdemTable tbody tr td {
  border: 1px solid #9e8f72;
}
.texasholdemTable tbody tr td .nlh-bg {
  background: #756a1a;
  font-size: 18px;
  padding: 5px 18px;
  border-radius: 6px;
}
.databefore-none::before {
  display: none;
}
.texasholdemTable tbody tr td.usernamrtable {
  font-size: 0;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}
.usernamrtable span {
  font-size: 16px;
  position: absolute;
  top: -13px;
  color: #554993;
  font-weight: 500;
  background: #0a0a0a;
  padding: 0 10px;
  z-index: 1;
  left: 25px;
}
.texasholdemTable tbody tr td {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 30px;
  border-right: 0;
  border-left: 0;
  text-align: center;
}
.texasholdemTable tbody tr {
margin-top: 15px;}
.texasholdemTable {
  border-collapse: separate;
  border-spacing: 0 2em;
}
.texasholdemTable tbody tr td:first-child {
  border-right: 2px dashed #9e8f72;
  border-radius: 6px;
  border-left: 1px solid #9e8f72;
}
.texasholdemTable tbody tr td.usernamrtable + td {
  border-radius: 6px 0px 0 6px;
}
.playnow-btn i {
  display: none;
}
.playnow-btn {
  background: linear-gradient(to bottom, #c41824, #4c0e13);
  border-radius: 0;
  min-width: inherit;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 3px;
}
.texasholdemTable tbody tr td:last-child {
  padding-bottom: 0;
  border-right: 1px solid #9e8f72;
  border-radius: 0 6px 6px 0;
}
.texasholdemTable {
  padding: 0 15px;
}
.tableFilter {
  display: none !important;
}
.header {
  padding-bottom: 18px;
  padding-right: 20px;
}
.userslash-btn {
  border: 0 !important;
  width: auto;
  height: auto;
}
.userslash-btn i {
  font-size: 21px;
  color: #fff;
}
.privateBtn {
  padding: 0 8px;
  border: 0;
  text-transform: uppercase;
  bottom: -17px;
  border-radius: 0 0 6px 6px;
  left: -13px;font-size: 10px;
}
.setting-btn {
  margin-left: 15px;
}
.tablenumber-des {
  display: none;
}
.texasholdem-tabs .nav-tabs li button {
  font-size: 0;
}
.texasholdem-tabs .nav-tabs li button {
  border: 1.9px solid #504581 !important;
  margin-right: 8px;
  padding: 5px 10px;
  margin-top: 15px;
  border-radius: 5px;
  min-width: 76px;
}
.portrait-tab-text {
  font-size: 16px;
  font-weight: 700;
}
.texasholdem-tabs .nav-tabs li button.active {
  border: 1.9px solid #9e8f72 !important;
}
.texasholdem-tabs .nav-tabs {
  padding: 0 15px;
}
.texasholdem-tabs .nav-tabs li:nth-child(4) button {
  margin-right: 0;
}
.profileDetails p {
  border: 2px solid #504581;
}
.privateModal .modal-header {
  border-bottom: 1.9px dashed #4ab74d;
}
.privateTableData.mt-3 {
  display: none;
}
.joinplayDiv .w-auto {
  width: 100% !important;
  text-align: center;
  margin-bottom: 18px;
}
.joinplay-btninput {
  width: 100%;
  background: #1e0219;
  border: 0;
}
.privatetable-create {
  background: linear-gradient(#a91a27, #710e15);
  font-size: 14px;
  padding: 5px 6px;
  margin-left: 5px;
}
.privateModal p {
  font-size: 13px;
}
.joinplay-btn-hd span {
  display: inline-block !important;
}
.texasholdemTable tbody tr td.nodataTd {
  padding-bottom: 40px;
border-radius: 6px;
}

}

@media (max-width: 420px) and (orientation: portrait) {
  .texasholdemTable tbody tr td::before, .texasholdemTable tbody tr td .nlh-bg, .texasholdemTable tbody tr td {
    font-size: 12px;
  }
  .playnow-btn {
  font-size: 12px;
  padding: 6px 8px;
}
.header {
  padding-bottom: 8px;padding-right: 8px;
}
.logo img {
  width: 100px;
}
.backbtn {
  margin-right: 0px !important;
}
.profileDetails p label, .profileDetails p span {
  padding-right: 3px;
  padding-left: 27px;
}
.logodiv {
  margin-left: -15px;
}

}




/* -------------Poker Table--------------- */

.pokertable-container {
  max-width: 850px !important;
}
.pokertable-topbtn {
  border: 2px solid #439744;
  padding: 4px 6px;
  border-radius: 12px;
}
.pokertable-topbtn:hover {
  background: #439744;
}
.pokertable-menu img {
  transform: rotate(181deg);
}
a {
  text-decoration: none;
}
.pokertablemenu-des {
  background: #2a2d2b;
  border: 1.9px solid #4ab74d;
  border-radius: 8px 8px 2px 2px;
  width: 235px;
  transform: translate(-200%);
  opacity: 0;
  visibility: hidden;
  transition: all .4s linear;
  z-index: 999;
}
.pokertablemenu-des button {
  width: 100%;
  color: #fff;
  text-align: left;
  padding: 4px 20px;
  font-size: 28px;
  font-weight: 500;
  border-bottom: 1.9px solid #4ab74d !important;
  border-radius: 6px 6px 0 0;
}
.pokertablemenu-des button:hover {
  background:#4ab74d;
}
.pokertablemenu-des button img {
  margin-right: 25px;
}
.pokerMenu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pokernav-item {
  display: block;
  color: #fff;
  font-size: 18px;
  border-bottom: 1.9px solid #335334;
  padding: 8px 30px;
  transition: all .4s linear;
  position: relative;
  cursor: pointer;
}
.pokernav-item img, .pokernav-item i {
  margin-right: 20px;
  min-width: 24px;
}
.pokernav-item:hover {
  background: #4ab74d;
}
.pokertablemenu-des-open {
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}
.pokernav-item li:last-child a {
  border-bottom: 0;
}
.switchToggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}
.switchToggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  max-width: 70px;
  height: 25px;
  background: #335334;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  float: right;
}
.switchToggle input:checked + label {
  background: #4bb84d;
}
.switchToggle input + label::before, .switchToggle input + input + label::before {
  content: 'No';
  position: absolute;
  top: 2px;
  left: 31px;
  width: 21px;
  height: 21px;
  border-radius: 90px;
  transition: 0.3s;
  text-indent: 0;
  color: #2a2d2b;
  font-size: 14px;
}
.switchToggle label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background: #2a2d2b;
  border-radius: 90px;
  transition: 0.3s;
}
.switchToggle input:checked + label::before, .switchToggle input:checked + input + label::before {
  content: 'Yes';
  position: absolute;
  top: 2px;
  left: 10px;
  width: 21px;
  height: 21px;
  border-radius: 90px;
  transition: 0.3s;
  text-indent: 0;
  color: #fff;
}
.switchToggle input:checked + label::after, .switchToggle input:checked + input + label::after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.settingpopup .pokernav-item {
  padding: 12px 10px;
  font-size: 14px;
}
.settingpopup .pokernav-item:hover {
  background: transparent;
}
.settingpopup button i {
  position: absolute;
  right: 9px;
  top: 2px;
  padding: 8px 5px;
}
.settingpopup button {
  padding: 4px 10px;
  padding-right: 35px;
}
.settingpopup {
  left: inherit;
  right: 0;
  transform: translate(200%);
}
.settingpopup-open {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}
.pokertablegame {
  background: url('../img/table_poker.png') no-repeat;
  background-size: cover;
  background-position: top center;
  height: 400px;
}
.poker-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #454544;
}
.poker-user p {
  margin: 0;
  background: #1b1c1b;
  font-size: 16px;
  color: #838383;
  padding: 2px 8px;
  border-radius: 5px;
  margin-top: 3px;
}
.poker-user {
  left: 28%;
  top: -6px;
}
.poker-user-1 {
  left: inherit;
  right: 28%;
}
.poker-user-2 {
  top: 51%;
  left: -30px;
}
.poker-user-3 {
  top: 51%;
  left: inherit;
  right: -75px;
}
.poker-user-4 {
  top: inherit;
  bottom: -30px;
  left: 0;
  right: 0;
}
.poker-user-active img {
  border-color: #008a31;
  width: 60px;
  height: 60px;
}
.poker-user-active p {
  background: #000;
  border: 2px solid #008a31;
}
.fold-btn label {
  cursor: pointer;
  background: #03200d;
  border: 1px solid #1d801d;
  padding: 4px 15px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding-left: 55px;
  position: relative;
}
.fold-btn label::before {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  border: 1px solid #1d801d;
  position: absolute;
  left: -5px;
  top: -8px;
  background: #000;
  border-radius: 3px;
  display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
}
.fold-btn input:checked + label::before {
  content: " ✓";
}
.fold-btndiv {
  gap: 25px;
}
.pot-point strong {
  font-size: 22px;
  word-spacing: 5px;
  font-weight: 600;
}
.pot-point p {
  display: inline-block;
  background: #000;
  font-size: 16px;
  padding: 3px 5px;
  min-width: 100px;
  text-align: center;
  border-radius: 25px;
  margin-top: 15px;
}
.pot-point p img {
  width: 50px;
  position: absolute;
  left: -24px;
  top: -12px;
}
.chips-point p {
  font-size: 16px;
  font-weight: 600;
}
.chips-point img {
  margin-right: 5px;
}
.chips-point {
  bottom: 23%;
  left: -10%;
  right: 0;
  margin: 0px auto;
  text-align: center;
  display: inline-block;
}
.chips-point-1 {
  left: inherit;
  right: 11%;
  bottom: 30%;
}
.pokeruserid {
  left: 0;
  right: 0;
  margin: 0px auto;
  top: -30px;
  color: #fff;
  font-weight: 500;
  opacity: 0.8;
}
.poker-table-body {
  padding: 82px 0;
  height: 100%;
}
.texasholdem-text {
  position: absolute;
  bottom: 32%;
}
.usercards img {
  border: 0;
  width: 46px;
  height: inherit;
  border-radius: 0;
  margin-left: -24px;
}
.usercards span {
  width: 100%;
  text-align: center;
  color: #f8f800;
  background: #000;
  font-size: 18px;
  font-weight: 600;
  padding: 3px 5px;
  letter-spacing: 1px;
}
.usercards {
  border: 2px solid #008a31;
  border-radius: 5px;
  background: #000;
  padding: 10px 8px;
}
.poker-user {
  z-index: 1;
}
.usercardsDiv p {
  width: 86%;
  text-align: center;
  margin: 0px auto;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  color: #01f400;
  font-size: 12px;
  font-weight: bold;
}
.poker-user-active p {
  font-size: 14px;
}
.usertablepoint {
    color: #01f400;
  font-size: 12px;
  margin-top: -6px;
}
.usercards span.userpointrgba {
  background: rgba(0,0,0, 0.7);
}
.callraise-btn {
  background: linear-gradient(#d31d1d, #921010,#ce2020);
  color: #fff;
}
.callraise-btn {
  background: linear-gradient(#d31d1d, #921010,#ce2020);
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  padding: 5px 15px;
  margin-right: 8px;
}
.callraise-btn span {
  font-size: 12px;
  font-weight: 600;
}
.potmax-btn {
  background: linear-gradient(#165ddb, #0b45b2,#165ddb);
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 15px;
  margin-right: 6px;
  min-width: 100px;
}
.potmax-btn:hover {
  background: linear-gradient(#142a55, #102349,#142a55);
}
.progreshnumber {
  border: 4px solid #316cdf;
  background: linear-gradient(#142a55, #102349,#142a55);
  padding: 1px 5px;
  text-align: center;
  min-width: 100px;
  border-radius: 5px;
  font-weight: 600;
}
.plush-btn {
  background: linear-gradient(#4bc851, #067f1c,#4bc851);
  font-size: 30px;
  padding: 0 8px;
  border-radius: 2px;
  width: 35px;
  height: 36px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progreshbar-poker {
  width: 65%;
  height: 15px;
  background: #0b0e0b;
  border-radius: 25px;
  box-shadow: 0 0px 6px #454544;
  margin: 0 10px;
}
.progresh-arrow {
  width: 38px;
  top: -3px;
  left: -2px;
}
.chat-btn {
  border: 2px solid #008a31;
  background: transparent;
  border-radius: 10px;
  background: #2a2c2b;
  padding: 5px;
}
.chat-btn img {
  width: 35px;
}
.chat {
  position: fixed;
  bottom: 140px;
  right: 11px;
  z-index: 99;
}
.chat-tabs {
  background: linear-gradient(#1f1f1f,#080808);
}
.chat-tabs li button {
  background: transparent;
  border-right: 1px solid #232523 !important;
  background: transparent !important;
  border-top: 0px !important;
  border-left: 0px !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid transparent !important;
}
.chat-tabs li button.active {
  border-bottom: 2px solid #4ab34c !important;
}
.chat-tabs li:last-child button {
  border-right: 0px !important;
}
.chatbox {
  border: 2px solid #4ab34c;
  background: linear-gradient(#1f1f1f,#080808);
  border-radius: 2px;
  width: 295px;
}
.chatbox p {
  margin-bottom: 15px;
}
.chatbox .tab-content {
  padding: 10px;
  min-height: 161px;
}
.chat-tabs li {
  width: 33.3%;
}
.chatbox {
  right: 0;
  bottom: 0;
  transform: translate(200%);
  transition: all .4s linear;
}
.chatnow-btn button {
  background: #4ab34c;
  border: 0;
  font-weight: 500;
  color: #fff;
  padding: 6px 10px;
  border-radius: 2px;
}
.chatnow-btn input {
  width: 76%;
  margin-right: 5px;
  background: #fff;
  border: 0;
  color: #000;
  border-radius: 2px;
  outline: none;
  padding: 5px;
  font-size: 14px;
}
.chatbox-open {
  right: 58px;
  transform: translate(0);
}
.buyin-modal .modal-content {
  background: #2a2c2b;
  border: 2px solid #008a31;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.buyin-modal .modal-content .modal-header, .buyin-modal .modal-content .modal-footer {
  border-color: #008a31;
}
.buyin-modal .modal-body h6 {
  font-size: 22px;
  margin-bottom: 35px;
}
.modal-progres {
  background: linear-gradient(#46a64b, #386c46);
  height: 35px;
  border-radius: 25px;
  position: relative;
  padding: 5px 10px;
  align-items: center;
}
.modal-progres .progress-bar {
  width: 100%;
  border-radius: 25px;
  background: #2a2c2b;
  position: relative;
  overflow: visible;
  height: 18px;
}
.modal-progres .progress-bar::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(#46a64b, #386c46);
  position: absolute;
  left: 0;
  box-shadow: 0px 0px 2px #000;
  border: 2px solid #77ac7e;
  top: -4px;
}
.modalvalueadd {
  border: 2px solid #008a31;
  background: transparent;
  text-align: center;
  width: 115px;
  outline: none;
  border-radius: 2px;
  color: #ff0;
  font-weight: 600;
  padding: 3px 5px;
  margin-left: 15px;
}
.modalon-btn {
  background: linear-gradient(#46a64b, #386c46);
  border: 0;
  color: #fff;
  font-weight: 500;
}
.modalon-btn {
  background: linear-gradient(#46a64b, #386c46);
  border: 0;
  color: #fff;
  font-weight: 500;
  min-width: 90px;
  padding: 4px 5px;
  border-radius: 10px;
}
.modaltimer i {
  font-size: 32px;
  margin-bottom: 5px;
}
.modaltimer {
  font-size: 18px;
  margin: 0 30px;
}
.buyin-modal .modal-content .modal-header h5 {
  font-size: 26px;
}
.buyin-modal .modal-content .modal-header {
  padding: 2px 5px;
}
.portrait-block {
  display: none !important;
}
.upcoming-text {
  font-size: 10px;
  color: #cece09;
  display: block;
  text-align: right;
  text-transform: capitalize;
  margin-top: -3px;
}
.pokernav-item:hover .upcoming-text {
  color: #fff;
}
.userCardsmain {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  top: 0;
  bottom: 0;
}
.settingpopup .pokernav-item i {
  margin-right: 3px;
  color: #335334;
}
.portrait-rang-btndiv {display: none !important;}






@media screen and (min-width: 992px) {
  .fold-btn label {
    min-width: 180px;
  }
}

@media (max-width: 1140px) {
  .pokertable-container {
  max-width: 940px !important;
}
.pokertablegame {
  height: 440px;
}
.poker-user-3 {right: 0;}
.potmax-btn {
  min-width: inherit;
}
.chips-point-1 {bottom: 55%;}

}

@media (max-width: 991px) {
  .pokertable-container {
  max-width: 730px !important;
}
.pokertablegame {
  height: 350px;
}
.usercards img {
  width: 30px;
  margin-left: -15px;
}
.usercards span {
  font-size: 14px;
  top: inherit !important;
  bottom: 0;
}

}

@media (max-width: 767px) and (orientation: landscape) {
  .pokertable-container {
  max-width: 450px !important;
}
.pokertablegame {
  height: 210px;
}
.poker-user img {
  width: 30px;
  height: 30px;
}
.poker-user p, .chips-point p {
  font-size: 11px;
}
.pot-point strong {
  font-size: 14px;
}
.poker-table-body {
  padding: 45px 0;
}
.pot-point p img {
  width: 30px;
  position: absolute;
  left: -10px;
  top: -2px;
}
.pot-point p {
  font-size: 12px;
  margin-top: 5px;
}
.usercards {
  padding: 5px 3px;
}
.texasholdem-text {
  font-size: 12px;
}
.chips-point img {
  width: 10px;
}
.callraise-btn {
  font-size: 12px;
  padding: 2px 8px;
  margin-right: 5px;
}
.potmax-btn {
  font-size: 12px;
  padding: 4px 8px;
  margin-right: 3px;
}
.progreshnumber {
  min-width: inherit;
}
.plush-btn {
  font-size: 22px;
  width: 22px;
  height: 22px;
}
.poker-user-3 {
  right: -40px;
}
.portrait-rang-btn {
    display: none !important;
  }

}


@media (min-width: 767px) {
  .portrait-rang-btn {
    display: none !important;
  }
}

@media (max-width: 767px) and (orientation: portrait) {

.landscape-block {
  display: none !important;
}
  .portrait-block {
  display: block !important;
}
/*.pokertable-portrait, html {
  background: linear-gradient(#2e2f2a, #070906) !important;
}*/
.pokertable-topbtn i {
  color: #3fad57;
  font-size: 20px;
}
.pokertable-topbtn {
  border-width: 1px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 3px 0px 1px #000;
}
.pokertable-topbtn:hover i {
  color: #fff;
}
.cardsup-btn {
  border-radius: 25px !important;
  width: auto;
  height: auto;
  min-width: 60px;
  min-height: 30px;
  margin-left: 8px;
  color: #fff;
}
.pokertablegame {
  background: url('../img/portrait.png') no-repeat;
  background-position: top center;
  background-size: cover;
  height: 755px;
}
.poker-user {
  left: 0%;
  top: 20%;
}
.poker-user.poker-user-1 {
  left: inherit;
  right: 0%;
}
.poker-user.poker-user-2 {
  top: inherit;
  bottom: 30%;
}
.poker-user.poker-user-3 {
  right: 0%;
  left: inherit !important;
  bottom: 30%;
  top: inherit !important;
}
.pokertable-container {
  max-width: 480px !important;
}
.callbtn-portrait {
  width: 100%;
  margin-bottom: 15px;
  padding: 0;
}
.callbtn-portrait .w-100.d-flex {
  gap:6px;
}
.callraise-btn {
  margin: 0;
  width: 33%;
}
.callraise-btn {
  margin: 0;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bd2929 !important;
  border-radius: 0;
  font-size: 18px;
}
.callraise-btn:nth-child(2) {
  background: #057e51 !important;
}
.callraise-btn:nth-child(3) {
  background: #9c8910 !important;
}
.callraise-btn span {
  font-size: 18px;
  font-weight: 400;
  padding-left: 15px;
}
.texasholdem-text {
  position: absolute;
  bottom: 16%;
  width: 200px !important;
  left: 0;
  right: 0;
  margin: 0px auto;
  color: #7ab38d;
}
.pokertablemenu-des {
  position: fixed !important;
  left: 0;
  border-radius: 0;
  height: 100%;
  border: 0;
}
.pokerMenu-list-portrait {
  list-style: none;
  padding: 0;
}
.pokertablemenu-des {
  background: #111312;
  width: 250px;
  padding-top: 40px;
}
.pokerMenu-list-portrait li a i {
  background: #313133;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-right: 8px;
  transition: all .4s linear;
}
.pokerMenu-list-portrait li a {
  color: #ffff;
  font-size: 16px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  transition: all .4s linear;
}
.pokerMenu-list-portrait li a:hover {
  color: #3fad57;
}
.pokerMenu-list-portrait li a:hover i {
  background: #3fad57;
  color: #fff; 
}
.poker-user.poker-user-4 {
  top: inherit;
}
.gameplay-card {
  left: 18%;
  top: 40%;
}
.progressbar-portrait {
  width: 300px !important;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 0;
  z-index: 9;
  background: #101010;
  border: 5px solid #53556a;
  height: 90px;
  border-radius: 5px;
}
.progressbar-portrait button {
  position: absolute;
  top: 0;
  left: 88%;
  height: 40px;
  border-radius: 0;
  background: #101010;
  color: #ac9d06;
  border: 1px solid #53556a !important;
  border-left: 5px solid #53556a !important;
}
.progressbar-portrait button:last-child {
  left: inherit;
  right: 0;
  top: 40px;
}
.progreshbar-poker {
  width: 75%;
  height: 22px;
  background: #0b0e0b;
  border-radius: 25px;
  margin: 0 10px;
  border: 4px solid #53556a;
  border-right: 18px solid #53556a;
  box-shadow: none;
  position: relative;
}
.progreshbar-poker::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #0b0e0b;
  position: absolute;top: 0;
  left: 5px;
  border-radius: 25px;

}
.progreshnumber {
  display: none;
}
.chat-btn {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.chat-btn img {
  width: 25px;
}
.chips-point {
  background: rgba(0,0,0, 0.4);
  padding: 0px 10px;
  border-radius: 25px;
  text-align: center;
  width: 60px;
  padding-left: 20px;
}
.chips-point p {
  position: relative;
}
.chips-point p img {
  margin: 0;
  position: absolute;
  left: -27px;
  width: 25px;
}
.chips-point {
  bottom: 11%;
  left: -28px;
}
.chips-point-1 {
  bottom: 36%;
  right: 32%;
}
.cardsupsecond-btn {
  background: linear-gradient(#034901,#0a7d08,#034901);
  width: 95px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 10px #000;
}
.cardsupsecond-btn span {
  background: #000;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  padding: 1px 2px;
}
.usercards {
  border: 0;
  background: transparent;
  padding: 0;
}
.usercards span, .poker-user-active p {
  display: none;
}
.usercards img {
  width: 50px;
  margin-left: -25px;
}
.portrait-rang {
  width: 100px;
  border: 5px solid #4b5063;
  border-radius: 6px;
  z-index: 99;
  bottom: 0;
  background: #121212;
  padding-bottom: 10px;
}
.portrait-rang button {
  width: 50%;
  color: #ad9d0c;
  font-size: 35px;
  padding: 0;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border: 1px solid #4b5064 !important;
  border-bottom: 5px solid #4b5064 !important;
  cursor: pointer;
  margin-bottom: 15px;
}
.portrait-rang button:first-child {
  border-right: 0 !important;
}
.portrait-rang-slide {
  border: 5px solid #4b5064;
  height: 300px;
  width: 28px;
  background: #101010;
  border-radius: 25px;
  text-align: center;
  margin: 0px auto;
  border-top: 25px solid #4b5064;
  position: relative;
}
.portrait-rang-slide::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #101010;
  position: absolute;
  left: 0;
  top: -8px;
  border-radius: 25px;
}
.portrait-rang-slide img {
  left: -15px;
  bottom: 0;
  max-width: 50px;
}
.portrait-rang-btn button {
  background: #101010 !important;
  border-radius: 0;
  width: 100%;
  border: 2px solid #535669 !important;
  margin-bottom: 8px;
  color: #fff;
  font-size: 14px;
  padding: 10px 5px;
  text-transform: uppercase !important;
}
.portrait-rang-btndiv {
  position: fixed;
  bottom: 40px;
  display: flex !important;
  align-items: center !important;
  right: 6px;
  z-index: 999;
}
.portrait-rang-btn {
  width: 50px;
  margin-left: -3px;
}
.visitor {
  margin: 0;
  min-height: 150px;
  border: 1px solid #008a31;
  border-radius: 6px;
}
.buyin-modal .modal-content .modal-footer h6 {
  font-size: 22px;
}
.realtimeresult-modal thead {
  border-bottom: 1px solid #008a31;
}
.realtimeresult-modal tbody tr td {
  font-size: 14px;
}
.close-btn {
  border: 0;
  background: #f40403;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.close-btn i {
  font-size: 26px;
  position: relative;
  top: -2px;
}
.realtimeresult-modal .modal-header {
  padding: 10px 10px !important;
}
.callbtn-portrait {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  left: 0;
  padding: 0 15px;
}
.texasholdem-text {
  top: 8%;
  bottom: inherit;
  font-size: 12px;
}
.portrait-rang-btndiv {display: none !important;}
.portrait-rang-btndiv-block {
  display: flex !important;
}


}


@media (max-width: 520px) and (orientation: portrait)  {
  .pokertable-container {
  max-width: 300px !important;
}
.pokertablegame {
  height: 450px;
}
.poker-user {
  left: -8%;
}
.poker-user.poker-user-1 {
  left: inherit;
  right: -8%;
}
.poker-user p {
  font-size: 12px;
}
.poker-user-active img {
  border-color: #008a31;
  width: 50px;
  height: 50px;
}
.usercards img {
  width: 35px;
  margin-left: -15px;
}
.gameplay-card img {
  width: 35px;
}
#handhistoryModal .row .d-flex img.w-100, #handModal .row .d-flex img.w-100 {
  width: 32px !important;
}


}


@media (min-width: 360px) {
  .realtimeresult-modal .modal-dialog {
  width: 340px;
  margin-right: 10px;
  margin-left: auto;
}
}

/* -------------Poker Table End!--------------- */